.udCIDATA, .upc{
    text-transform: uppercase;
}

.greenVibe{
    background-color: #4d9c11;
}

#CITABLE td{
    display: block;
}

.ACCOUNTPAGE{
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 666;
    background-color: rgb(226, 226, 226);
}
.HEADERBX{
    padding: 4px 0PX;
    position: relative;
    height: 35px;
}

.LOGOBX{
    width: 300px;
    background-color: rgb(219, 161, 0);
    padding: 10px;
    font-size: 14PX;
}
.HEADERTRACKERBX{
    position: absolute;
    right: 0;
    width: 237px;
    top: -5px;
    bottom: -2px;
    color: red;
    padding: 4px 0PX;
    height: 40px;
}
@media screen and (max-width: 400px) 
and (min-width: 0px){
    .HEADERTRACKERBX{
        top: 48px;
    }
    .LOGOBX{
        display: block;
        width: 100%;
        text-align: center;
    }
    .HEADERBX{
        padding: 0;
        height: auto;
    }
    .MAINSCREEN{
        padding-top: 53px;
    }
}
.c0{
    border-radius: 50%;
    border-color: red;
    padding: 6px;
    background-color: #a4a4a4;
    display: inline-block;
    top: 0px;
    position: relative;
    left: 31px;
}
.c0line{
    border-color: red;
    background-color: #a4a4a4;
    display: inline-block;
    top: -5px;
    position: relative;
    left: 27px;
    height: 1px;
    width: 53px;
}
.c0txt{
    color: black;
    display: inline-block;
    top: 20px;
    position: absolute;
    left: 18px;
    font-size: 10px;
}

.c1{
    border-radius: 50%;
    border-color: red;
    padding: 6px;
    background-color: #a4a4a4;
    display: inline-block;
    top: 0px;
    position: relative;
    left: 20px;
}
.c2{
    border-radius: 50%;
    border-color: red;
    padding: 6px;
    background-color: #a4a4a4;
    display: inline-block;
    top: 0px;
    position: relative;
    left: 9px;
}
.c3{
    border-radius: 50%;
    padding: 6px;
    background-color: #a4a4a4;
    display: inline-block;
    top: 0px;
    position: relative;
    left: -4px;
}
.c1line{
    background-color: #a4a4a4;
    display: inline-block;
    top: -5px;
    position: relative;
    left: 16px;
    height: 1px;
    width: 50px;
}
.c2line{
    background-color: #a4a4a4;
    display: inline-block;
    top: -5px;
    position: relative;
    left: 5px;
    height: 1px;
    width: 48px;
}
.c1txt{
    color: black;
    display: inline-block;
    top: 20px;
    position: absolute;
    left: 83px;;
    font-size: 10px;
}
.c2txt{
    color: black;
    display: inline-block;
    top: 20px;
    position: absolute;
    left: 145px;
    font-size: 10px;
}
.c3txt{
    color: black;
    display: inline-block;
    top: 20px;
    position: absolute;
    left: 192px;
    font-size: 10px;
}

.MAINSCREEN{
    border: 1px solid grey;
    text-align: center;
    overflow: hidden;
}
.M50BOX{
    display: inline-block;
    float: left;
}
.box1{
    width: 65%;
}
.box2{
    width: 35%;
    background-color: whitesmoke;
    text-align: left;
    height: 450px;
}
@media screen and (max-width: 400px) 
and (min-width: 0px){

    .box1{
        width: 100%;
    }
    .box2{
        width: 100%;
    }
}
.box2 .title{
    display: block;
    padding: 6px;
    background-color: #e9e9e9;
}
.box2 ul li{
    position: relative;
    border: 1px solid red;
}
.lbl{
    color: blue;
}
.dbTxts{
    
}